Build
CMakeCache.txt
CMakeFiles
Makefile
*.cmake

#Qt creator project files
monocle.files
monocle.includes
monocle.config
monocle.creator.*

/Project/Xcode4/MonocleTest/MonocleTest.xcodeproj/project.xcworkspace/xcuserdata/
/Project/Xcode4/MonocleTest/MonocleTest.xcodeproj/xcuserdata/