Build
CMakeCache.txt
CMakeFiles
Makefile
*.cmake

#Qt creator project files
monocle.files
monocle.includes
monocle.config
monocle.creator.*

# OSX
.DS_Store

# Build artifacts
*.obj

# VS2010
*.sdf
*.opensdf
*.suo
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.manifest
*.idb
*.pdb
*.ipch
*.vcxproj.user
[Dd]ebug
[Rr]elease

# XCode
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcuserstate
