<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Monocle Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>031150FC136EF946002E27C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03115111136EF9EA002E27C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03115134136EFB74002E27C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03836F23136EED5D006746F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03836F90136EF205006746F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
