<Level width="1600" height="600">
	<FringeTiles set="spring">
		<FringeTile tileID="0" layer="50" x="400" y="300" rotation="0" scaleX="1.25" scaleY="1.25"/>
		<FringeTile tileID="1" layer="20" x="400" y="300" rotation="0" scaleX="1" scaleY="1"/>
		<FringeTile tileID="2" layer="10" x="400" y="300" rotation="0" scaleX="1" scaleY="1"/>
	</FringeTiles>
</Level>
