<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBind.CompileErrorList" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AutoBind.CompileErrorList>
            <setting name="A0001" serializeAs="String">
                <value>Unable to locate AutoBind.xml within the current working directory.</value>
            </setting>
            <setting name="A0002" serializeAs="String">
                <value>Unable to locate the input folder '${1}'.</value>
            </setting>
            <setting name="A0003" serializeAs="String">
                <value>Unable to locate the header output folder '${1}'.</value>
            </setting>
            <setting name="A0004" serializeAs="String">
                <value>Unable to locate the code output folder '${1}'.</value>
            </setting>
        </AutoBind.CompileErrorList>
    </applicationSettings>
</configuration>